/*Cursor*/
html{
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

/*Imagem de fundo*/
body{
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	background-size:100% ;
}

/*tamanho mosquito*/

.mosquito1 {
	width: 50px;
	height: 50px;
}

.mosquito2 {
	width: 70px;
	height: 70px;
}

.mosquito3 {
	width: 90px;
	height: 90px;
}

/*Orientação mosquito*/

.ladoA{
	transform: scaleX(1);
}

.ladoB{
	transform: scaleX(-1);
}

/*Painel: vida, cronometro, socore*/

.painel{
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	botton: 0px;
	border-top: splid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas{
	float:left;
}

.cronometro{
	float: left;
	font-size: 20px;
	font-weight: bold;
}

.score{
	float: left;
	font-size: 20px;
	font-weight: bold;
}

